
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
/* shared styles */
header{
    max-width: 1440px;
    margin: 0px auto;
}
.display-flex{
    display: flex;
}
.orange{
    color:rgba(254, 163, 1, 1);
}
.blue{
    color: rgba(1, 172, 253, 1);
}
.paste{
    color: rgba(5, 212, 223, 1);

}
.violet{
    color: rgba(93, 88, 239, 1);

}
.dark{
    color:rgba(17, 17, 17, 1)
}
.btn-primary{
    font-size: 1.25rem;
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(254, 163, 1, 1) ;
    padding: 10px 60px ;
    border-radius: 12px ;
    border: none;
}
.second-button{
    font-size:1.25rem ;
    font-weight: 700;
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(17, 17, 17, 1) ;
    border: none;
    border-radius: 12px;
    padding: 10px 47px ;
}
.center{
    text-align: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 60px;
}


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-size:1.3rem;
    font-weight: 500;
}
.navbar{
     max-width: 1160px;
    margin: 0px auto;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(17, 17, 17, 1);
}
.first{
    text-align: center;
    align-items: center;
}
#menu{
    display: none;
}
/* banner styles start */

.banner{ 
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.banner-content{
    max-width: 640px;
    margin: 0 auto;
   
}
.banner-tittle{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-descrption{
    color: rgba(17, 17, 17, 1);
    font-size: 1.25rem;
    font-weight: 400;
}
.banner-dp img{
    width: 100%;
}
/* main-body part styles */

.mains{
    background-image: url(../assets/bg.png);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
/* standard cariculam section style */
.cariculam{
    align-items: center;
    text-align: center;
    
    max-width: 1440px;
    margin: 0 auto;
}
.standard-title{
    color:rgba(0, 0, 0, 1) ;
    font-size: 2.875rem;
    font-weight: 700;
}
.school-container{
    gap:29px ;
}
.school{
    justify-content: center;
    text-align: center;
    text-align: center;
    justify-items: center;
    padding: 40px 50px;
    width: 367px;
    height: 480px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 19px;
    
}
.scl-1{
    background-color: rgba(222, 245, 255, 1.00);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.scl-2{ 
    background-color: rgba(255, 244, 220, 1.00);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.scl-3{
    background-color: rgba(242, 232, 255, 1.00);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.school-title{
    font-size: 1.5rem;
    font-weight: 700;
    color:rgba(32, 32, 32, 1) ;
}
.school-description{
    font-size:1rem;
    font-weight: 400;
    color:rgba(128, 128, 128, 1);
}
.btn-1{
    font-size: 0.9rem;
    font-weight:700;
    color:rgba(100, 200, 255, 1);
    text-decoration: none;
}
.btn-2{
    font-size: 0.9rem;
    font-weight:700;
    color:rgba(240, 170, 0, 1);
    text-decoration: none;
}
.btn-3{
    font-size: 0.9rem;
    font-weight:700;
    color: rgba(135, 0, 255, 1);
    text-decoration: none;
}
.round-button{
    border: none;
    background-color: rgba(254, 163, 1, 1);
    color: white;
    border-radius: 50%;
    padding: 19px 22px;
    font-size: 24px;
    font-weight: 550;
}
.arrow-button {
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-top: 80px;
}

/* our stories section start */
.grade{ 
    background-image: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
  

}
.stories-container{
    gap: 20px;
    justify-content: center;
}
.dp{
    border-radius:16px 16px 0 0;
    width: 100%;

}
.story-container{
    padding:38px;


}
.stories{
     /* text-align: center;
    align-items: center;  */
    max-width: 1440px;

    margin: 0 auto;
    
}

.first-story{
    width:540px;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: none;
    
}
.school-title{
    font-size: 1.5rem;
    font-weight: 700;
    color:rgba(0, 0, 0, 1);
}
.school-description{
    font-size: 0.9rem;
    font-weight: 500;
}
.btn-badge{
    border: none;
    background-color:rgba(60, 216, 232, 1);
    color:rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 47px;
    padding:15px 19px;
    margin-top:-100px;
    margin-left: 38px;
}
/* second story section */
.second-story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
     max-width: 600px;
    margin: 0, auto;
    gap:20px;
}
.sub-story-1{
    background-color: white;
    border-radius: 16px;
}
.img-radius{
    text-align: center;
    border-radius:16px 16px 0 0;
}
.sub-story-container{
    padding: 28px 37px;
}
.btn-4{
    background-color:rgba(149, 178, 38, 1);
    font-size:1rem;
    font-weight:500;
    color:rgba(255, 255, 255, 1);
    border: none;
    border-radius: 47px;
    padding:10px 19px ;
    margin-top: -100px;
    margin-left: 37px;

}
.content{
    font-size: 1.5rem;
    font-weight: 500;
}
.marq{
    background-color: #eeb161;
    padding: 25px;

    
}
/* foote section style */
.foot{
   
    background-color:#59D5E0;
}
.end{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

/* Responsive part */
@media screen and (max-width :576px) {
    ul>li , .btn-primary , .nav-title{
        display: none;
        justify-items: center;
    }
    .navbar{
        margin: 12px 16px;

        
     
    }
    .img-radius {
        width: 100%; 
        height: auto;
    }
    .sub-story-container {
        padding: 16px;
    }
    .arrow-button{
        display: none;
    }
    .first-story, .copy{
        display: none;
    }
    .sections{
        border: 0.5px solid rgba(254, 163, 1, 1);
        margin: 0px;
    }
    #menu{
        display: block;
        border: none;
       
    }
    #menu>svg {
        width: 30px;
        height: 20px; 
        fill: black;
        filter: none;
    }
    .banner{
        flex-direction: column-reverse;
        justify-items: center;
        gap: 16px;
         
    }
    .second-story{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px;
        
    }
    .banner-content{
        text-align: center;
        align-items: center;
        
    }

    .cariculam, .school-container{
        flex-direction: column;
        justify-items: center;
    }
    .school{
       
        justify-items: center;
        padding: 0;
    
    }
    body{
        margin: 0;
       
    }
    .full-body{
        padding: 20px;
    }
    
    


}
